<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="contact.css">

  
</head>

<body>
  <!-- Company Section -->
  <div class="company">
    <div class="img">
      <img src="about image.jpg" alt="About Team">
    </div>
    <div class="company-info">
      <span>Plate <span class="our">Rank</span></span>
      <p><b>"Every bite was a taste of perfection!"</b>. Rate us and share your experience with us so we can serve you even better!
We’d love your feedback! </p>
      <h2>Our Team</h2>
      <ul> Aviral Tiwari </ul>
      <ul>Anshika Gupta</ul>
      <ul>Dhairya Gupta</ul>
    </div>
  </div>
</body>